{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"react",
		"react-hooks",
		"@typescript-eslint",
		"prettier",
		"eslint-plugin-import-helpers"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-console": 1,
		"prettier/prettier": 2,
		"react/prop-types": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import-helpers/order-imports": [
			"warn",
			{
				"newlinesBetween": "always",
				"groups": [
					"module",
					[
						"/^@assets/",
						"/^@components/",
						"/^@screens/",
						"/^@services/",
						"/^@styles/"
					],
					["parent", "sibling", "index"]
				],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		]
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	}
}
